*,
*::before,
*::after {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
  background-color: #383838;
  color: #ffffff;
}

.test-field {
  width: 80vw;
}

.icon .hand {
  animation: move-hand 1.2s infinite alternate linear;
}

@keyframes move-hand {
  from {
    translate: -10px;
  }
  to {
    translate: 10px;
  }
}